<h4 class="heading">
  <div class="line"></div>
  <p style="margin: 0;  width: auto; padding: 0px 12px; letter-spacing: 2px ; font-size: 13px;">EXPLORE</p>
  <div class="line"></div>
</h4>
<h1 class="heading2">Celebrities</h1>

<div class="containr">
  <div class="product" *ngFor="let product of products; let i = index" (click)="openViewer(i)">
    <div class="img-wrapper">
      <img [src]="product.img" [alt]="product.name" />
      <div class="img-overlay"></div>
    </div>
    <div class="product-name">{{ product.name }}</div>
  </div>
</div>

<!-- Image Viewer Modal -->
<div class="viewer-modal" *ngIf="viewerOpen" (click)="closeViewer()">
  <div class="viewer-img-wrapper" (click)="$event.stopPropagation()">
    <i class="ri-arrow-left-wide-fill viewer-nav left" *ngIf="products.length > 1" (click)="prevImage($event)"></i>
    
    <!-- Image -->
     <div class="image-viewer-img-text">
    <img 
      [src]="products[selectedIndex].img" 
      [alt]="products[selectedIndex].name" 
      [ngClass]="{
        'zoomed-in': zoomState === 'in',
        'zoomed-out': zoomState === 'out'
      }" 
      (mousedown)="onImgMouseDown($event)" 
      (mouseup)="onImgMouseUp($event)" 
      (mousemove)="onImgMouseMove($event)"
      (mouseleave)="onImgMouseLeave($event)" 
      #imgEl 
    />

    <div class="viewer-product-name">
  {{ products[selectedIndex].name }}
</div>
    </div>
    <i class="ri-arrow-right-wide-fill viewer-nav right" *ngIf="products.length > 1" (click)="nextImage($event)"></i>


    <!-- Counter -->
    <div class="viewer-counter">{{ selectedIndex + 1 }} / {{ products.length }}</div>

    <!-- Actions -->
    <div class="viewer-actions">
      <i class="ri-fullscreen-line viewer-action" (click)="toggleFullScreen($event)"></i>

      <span class="viewer-action" (click)="toggleZoom($event)">
        <i *ngIf="zoomState === 'normal'" class="ri-search-line"></i>
        <i *ngIf="zoomState === 'in'" class="ri-zoom-in-line"></i>
        <i *ngIf="zoomState === 'out'" class="ri-zoom-out-line"></i>
      </span>

      <div class="viewer-share-dropdown">
        <span class="viewer-action" (click)="toggleShare($event)">
          <i class="ri-share-line"></i>
        </span>

        <div class="viewer-share-menu" *ngIf="showShare">
          <button (click)="shareLink($event, 'facebook')">
            <i class="ri-facebook-circle-line"></i> Facebook
          </button>
          <button (click)="shareLink($event, 'twitter')">
            <i class="ri-twitter-x-line"></i> Twitter/X
          </button>
          <button (click)="shareLink($event, 'copy')">
            <i class="ri-download-line"></i> Copy Link
          </button>
        </div>
      </div>

      <button class="viewer-close" (click)="closeViewer()">&times;</button>
    </div>
  </div>
</div>
