.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  position: relative;
  // background-color: #000000;
  // z-index: 9999;
  z-index: 1;
  // overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.header {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 70px;
}

.toggel {
  display: none;
}

.calnder i {
  color: white;
  font-size: 26px;
  font-weight: lighter;
}

.option {
  width: 107px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.option .opOne {
  color: white;
  font-size: 26px;
  font-weight: lighter;
}

.option .opTwo {
  color: white;
  font-size: 26px;
  font-weight: lighter;
}

.opOne-sideBar {
  height: 100vh;
  width: 350px;
  background: white;
  position: absolute;
  top: 0px;
  left: -450px;
  z-index: 9999;
}

.sign-logo {
  // background: red;
  height: 91px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  gap: 5px;
  position: relative;

}

.sign-logo i {
  font-size: 30px;
  font-weight: 100;
  color: rgb(200, 198, 198);
}

.sign-logo p {
  font-family: 24em;
  font-weight: 400;
  color: rgb(200, 198, 198);
}

.sign-form {
  display: flex;
  // background: red;
  height: 310px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sign-input-box {
  // background: green;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}

.sign-input-box input {
  width: 81%;
  height: 40px;
  outline: none;
  border: none;
  border: 1px solid black;
  border-radius: 2px;
  padding-left: 10px;
}

.sign-input-box p {
  margin-right: 139px;
  /* justify-content: start; */
  font-size: 16px;
  font-weight: 400;
}

.sign-input-box-check {
  gap: 6px;
  display: flex;
  font-size: 15px;
  /* background: red; */
  width: 100%;
  padding: 0px 35px;
}

.sign-button {
  background-color: black;
  border: none;
  outline: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  width: 83%;
  height: 40px;

}

.sign-help {
  font-size: 14px;
  color: grey;
}

.sign-close {
  background-color: white;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -60px;
  top: 15px;
}

.sign-close i {
  color: black;
  font-size: 25px;
}

.opTwo-sideBar {
  height: 100vh;
  width: 350px;
  z-index: 9999;
  background: white;
  position: absolute;
  top: 0px;
  right: -450px;
}

.wish-logo {
  // background: red;
  height: 91px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  gap: 5px;
  position: relative;

}

.wish-logo i {
  font-size: 30px;
  font-weight: 100;
  color: rgb(0, 0, 0);
}

.wish-logo p {
  font-family: 24em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.wish-show {
  display: flex;
  // background: red;
  // height: 310px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.wish-show p {
  font-size: 14px;
  font-weight: 400;
  color: gray;
}

.wish-button {
  background-color: black;
  border: none;
  outline: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  width: 83%;
  height: 40px;

}

.wish-close {
  background-color: white;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -60px;
  top: 15px;
}

.wish-close i {
  color: black;
  font-size: 25px;
}

.menu {
  width: 100%;
  height: 100px;
  //  background-color: red;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggel-logo {
  display: none;
}

.menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  gap: 30px;
  width: 100%;
  position: relative;
}

.menu ul li {
  font-size: 17px;
      font-weight: 400;
  color: white;
  cursor: pointer;
  line-height: 24px;
}

// .COUTURE{

.menu ul li p{
  font-size: 16px;
  margin: 12px 0px;
  font-weight: 400;

  @media screen and (max-width: 767px) {
    margin: 20px 0;
    
  }
}
// }
.COUTURE-Hover {
  width: 100%;
  // height: 600px;
  background-color: white;
  position: absolute;
  top: 24px;
  left: 0px;
  display: flex;
    justify-content: space-between;
  transition: all 0.3s;
  z-index: 9999;
    padding: 20px 40px 20px 60px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .COUTURE-Hover {
        padding: 20px 0 20px 20px;
  }
  
}

.COUTURE-Hover .collection-book-now-parent{
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .COUTURE-Hover .collection-book-now-parent {
    gap: 35px;
  }
  
}

.COUTURE-Hover .collection {
  // width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
      padding: 0 34.15px 0 0;
  gap: 20px;
  //  background-color: blue;
}

.COUTURE-Hover .collection h1 {
  font-size: 16px;
  font-weight: 500;
      text-align: left;
    margin: 20px 20px 20px 0;
    font-weight: bold;
  // padding-right: 45px;
}

html[lang^="ar"] body .COUTURE-Hover .collection h1 {
  text-align: right !important;
  direction: rtl;
}

.COUTURE-Hover .collection p {
      color: gray;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
        text-align: left;
}

.COUTURE-Hover .booknow h1 {
  font-size: 16px;
  font-weight: bold;
      text-align: left;
    margin: 20px 20px 20px 0;
    font-weight: bold;
}

.COUTURE-Hover .booknow {
  // width: 30%;
  height: 100%;
  //  background-color: rgb(0, 255, 110);
}

.COUTURE-Hover .product {
  // width: 40%;
  // height: 90%;
  //  background-color: blue;
  display: flex;
  //  align-items: center;
      justify-content: space-between;
    padding: 20px;
    gap: 60px;
  margin-top: 10px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .COUTURE-Hover .product {
    gap: 35px;
  }
  
}

.COUTURE-Hover .product img {
  // width: 220px;
  // height: 75%;
  // object-position: center;
  // object-fit: cover;

   width: 100%;
    max-width: 330px;
    max-height: 350px;
    object-fit: contain;
    object-position: top;
}

.COUTURE-Hover .product p {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  padding-top: 10px;
}

.bride-Hover {
  width: 100%;
  // height: 600px;
  background-color: white;
  position: absolute;
      top: 24px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s;
  z-index: 9999;
  text-transform: uppercase;
          padding: 20px 40px 20px 60px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .bride-Hover {
        padding: 20px 0 20px 20px;
  }
  
}

.bride-Hover .collection-book-now-parent{
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .bride-Hover .collection-book-now-parent {
    gap: 35px;
  }
}

.bride-Hover .collection {
  // width: 20%;
  // height: 100%;
  //  background-color: blue;
}

.bride-Hover .collection h1 {
  font-size: 16px;
      text-align: left;
    margin: 20px 20px 20px 0;
    font-weight: bold;
}

.bride-Hover .collection p {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin: 8px 0px;
}

.bride-Hover .booknow h1 {
  font-size: 16px;
  font-weight: bold;
      text-align: left;
    margin: 20px 20px 20px 0;
    font-weight: bold;
}

.bride-Hover .booknow {
  // width: 30%;
  // height: 100%;
  //  background-color: rgb(0, 255, 110);
}

.bride-Hover .product {
  // width: 45%;
  // height: 90%;
  //  background-color: blue;
  display: flex;
  //  align-items: center;
  justify-content:start;
  padding: 20px;
  gap: 60px;
  margin-top: 10px;

}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .bride-Hover .product {
    gap: 35px;
  }
}

.bride-Hover .product img {
  // object-position: center;
  // width: 220px;
  // height: 75%;
  // object-fit: cover;
  
  width: 100%;
    max-width: 330px;
    max-height: 350px;
    object-fit: contain;
    object-position: top;
  
}

.bride-Hover .product p {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  font-weight: 500;
  padding-top: 10px;
}

.IN-THE-SPOTLIGHT {
  width: 100%;
  // height: 600px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 24px;
  left: 0px;
  display: flex;
  transition: all 0.3s;
  z-index: 9999;
  padding: 10px;
  padding-top: 40px;
}

.IN-THE-SPOTLIGHT .product {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}


.IN-THE-SPOTLIGHT .product img {
  // width: 100%;
  // min-width: 330px;
  // height: 80%;
  // min-height: 350px;
  // object-fit: cover;
  // object-position:top ;

      width: 100%;
    max-width: 330px;
    max-height: 350px;
    /* min-height: 350px; */
    object-fit: contain;
    object-position: top;

}

.IN-THE-SPOTLIGHT .product p {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  font-weight: bolder;
}

// Complete RTL support for entire menu
.menu ul.rtl-menu {
  direction: rtl;
  
  li {
    // All arrows in RTL
    i {
      margin-left: 0 !important;
      margin-right: 4px !important;
    }
    
    // Text alignment
    text-align: right;
  }
  
  // Language dropdown specific RTL
  .language-dropdown {
    > span {
      flex-direction: row-reverse;
    }
    
    .flag-icon {
      margin-right: 0;
      margin-left: 6px;
    }
    
    .dropdown-content {
      left: auto;
      right: 0;
    }
    
    .dropdown-option {
      flex-direction: row-reverse;
    }
  }
}

// Mobile RTL support for entire menu
@media only screen and (max-width: 800px) {
  .menu ul.rtl-menu {
    li {
      i {
        right: auto !important;
        left: 15px !important;
      }
    }
  }
}

// Mobile Arabic support
@media only screen and (max-width: 800px) {
  .language-dropdown.rtl-active {
    > span {
      flex-direction: row-reverse !important;
    }
    
    i {
      right: auto !important;
      left: 15px !important;
    }
  }
}

@media only screen and (max-width: 800px) {

  .option {
    display: none;
  }

  .header {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .header .logo img {
    width: 173px;
    height: 90px;
  }

  .opp {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 20px;
  }

  .toggel {
    display: inline;
  }

  .toggel i {
    color: white;
    font-size: 26px;
    font-weight: lighter;
  }

  .menu {
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: -350px;
    transition: left 0.3s ease-in-out;
    height: 100%;
    margin: 0;
    width: 350px;
    padding: 0;
    align-items: center;
    justify-content: start;
    padding: 20px 0px;
    gap: 80px;
    overflow-y: scroll;
    position: fixed; 
    z-index: 9999;
  }

  .menu.menu-open {
    left: 0;
  }

  .toggel-logo {
    display: block;
    width: 150px;
    height: 80px;
  }

  .toggel-logo img {
    width: inherit;
    height: inherit;
  }

  .menu ul {
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
  }

  .menu ul li {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    flex-direction: column;
    align-items: start;
    position: relative;
  }

  .menu ul li.language-dropdown {
    .dropdown-content {
      margin-right: 16px;
    }
    
    &:has(.dropdown-content:not(.ng-hide)) {
      padding-bottom: 64px;
    }
  }

  .menu ul li i {
    font-size: 20px;
    position: absolute;
    right: 15px;
  }

  .COUTURE-Hover,
  .bride-Hover,
  .IN-THE-SPOTLIGHT {
    display: block;
  }

  .couture-dropdown {
    width: 100%;
    // height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding-top: 10px;
    margin-top: 10px;
  }

  .couture-dropdown h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 25px 0px;
    text-align: center;
  }

  .couture-dropdown p {
    font-size: 13px;
    font-weight: 400;
    margin: 5px 0px;
  }

  .couture-dropdown .product {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .couture-dropdown .cardOne,
  .cardTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // gap: 30px;
  }

  .couture-dropdown .product img {
    width: 80%;
  }

  .bride-dropdown {
    width: 100%;
    // height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding-top: 10px;
    margin-top: 10px;
  }

  .bride-dropdown h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 25px 0px;
    text-align: center;
  }

  .bride-dropdown p {
    font-size: 13px;
    font-weight: 400;
    margin: 5px 0px;
  }

  .bride-dropdown .product {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .bride-dropdown .cardOne,
  .cardTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // gap: 30px;
  }

  .bride-dropdown .product img {
    width: 80%;
  }

  .IN-THE-SPOTLIGHT-dropdwon {
    width: 100%;

    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding-top: 10px;
    margin-top: 10px;
  }

  .IN-THE-SPOTLIGHT-dropdwon .product {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }

  .IN-THE-SPOTLIGHT-dropdwon .product .card1,
  .card2,
  .card3,
  .card4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    // gap: 20px;
  }

  .IN-THE-SPOTLIGHT-dropdwon .product img {
    width: 100%;
  }
  .header{
    padding: 0px 19px;
  }
}
.language-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.language-dropdown > span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.language-dropdown .flag-icon {
  width: 24px;
  height: 16px;
  margin-right: 6px;
  border-radius: 2px;
  object-fit: cover;
  box-shadow: 0 1px 2px rgba(0,0,0,0.10);
}

.language-dropdown i {
  margin-left: 4px;
  font-size: 15px;
}

.language-dropdown .dropdown-content {
  display: block;
  position: absolute;
  background: white;
  color: black;
  min-width: 130px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  z-index: 100;
  top: 24px;
  left: 0;
  border-radius: 6px;
  padding: 6px 0;

  @media screen and (max-width: 768px) {
    top: 35px;
  }
}

.language-dropdown .dropdown-option {
    font-weight: 400;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.language-dropdown .dropdown-option:hover {
  background: #f1f1f1;
}
// Add these styles to your SCSS/CSS file

.menu-close {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10000;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s;
}

.menu-close i {
  color: white;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 800px) {
  .menu-close {
    display: flex; // Show close button only in mobile view
  }
}
.pageTwo,
.pageThree,
.pageFour,
.pageFive,
.PageSix {
  margin: 0 !important;
  padding: 0 !important;
}

.pageTwo + .pageThree,
.pageThree + .pageFour,
.pageFour + .pageFive,
.pageFive + .PageSix {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

h2, h3, .the-looks-heading, .section-title {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media only screen and (max-width: 480px) {
  .header{
    padding: 0 18px;
    justify-content: space-between;
  }
  i{
    font-size: 16px;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header{
    padding: 0px 19px;
  }
 
}