/* ============================
   FONT FACE DEFINITIONS
   ============================ */

/* DIN Next LT Arabic */
@font-face {
  font-family: 'DINNextLTArabic';
  src:
    url('/assets/fonts/ArbFONTS-DINNextLTArabic-UltraLight-1.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINNextLTArabic';
  src:
    url('/assets/fonts/ArbFONTS-DINNEXTLTARABIC-LIGHT-1.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINNextLTArabic';
  src:
    url('/assets/fonts/ArbFONTS-DINNextLTArabic-Regular-2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINNextLTArabic';
  src:
    url('/assets/fonts/ArbFONTS-DINNextLTArabic-Medium-2.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINNextLTArabic';
  src:
    url('/assets/fonts/ArbFONTS-DINNextLTArabic-Bold-2.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINNextLTArabic';
  src:
    url('/assets/fonts/ArbFONTS-DINNextLTArabic-Heavy-1.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINNextLTArabic';
  src:
    url('/assets/fonts/ArbFONTS-DINNextLTArabic-Black-2.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


/* Laureen Zaza Display */
@font-face {
  font-family: 'LaureenZazaDisplay';
  src: url('/assets/fonts/LaureenZazaDisplay-display.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LaureenZazaDisplay';
  src: url('/assets/fonts/LaureenZazaDisplay-Bddisplay.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* Lato */
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


/* ============================
   GLOBAL RESET
   ============================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none; /* STOP fake bold/italic */
}


/* ============================
   BASE TYPOGRAPHY (FIXED)
   ============================ */

/* English default */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;

  font-family: 'Lato',
               system-ui,
               -apple-system,
               BlinkMacSystemFont,
               'Segoe UI',
               sans-serif;
}

/* Arabic override */
html[lang^='ar'],
body.arabic {
  font-family: 'DINNextLTArabic',
               system-ui,
               sans-serif;
}


/* ============================
   TEXT UTILITIES
   ============================ */

.yc-text-en {
  font-family: 'Lato', system-ui, sans-serif;
  font-weight: 400;
}

.yc-text-light {
  font-family: 'Lato', system-ui, sans-serif;
  font-weight: 300;
}

.yc-text-bold {
  font-family: 'Lato', system-ui, sans-serif;
  font-weight: 700;
}


/* ============================
   HEADINGS (COUTURE SAFE)
   ============================ */

.yc-heading {
  font-family: 'LaureenZazaDisplay', 'Times New Roman', serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.yc-heading--bold {
  font-family: 'LaureenZazaDisplay', 'Times New Roman', serif;
  font-weight: 700;
}


/* ============================
   NAV / BUTTONS (CRITICAL FIX)
   ============================ */

.nav,
.menu,
.yc-nav,
.yc-menu,
.yc-button-text {
  font-family: 'Lato', system-ui, sans-serif;
  font-weight: 500;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}


/* ============================
   RTL / ARABIC LAYOUT
   ============================ */

html[lang^='ar'] {
  direction: rtl;
}

html[lang^='ar'] .collection h1,
html[lang^='ar'] .booknow h1,
html[lang^='ar'] .collection p {
  text-align: right;
}


/* ============================
   WEGLOT (HIDDEN)
   ============================ */

.weglot-container {
  display: none !important;
}
